
  <div class="register-page">
    <h2>Login</h2>
    <form [formGroup]="registerForm">
      <div>
        <div class="justify-content-center">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Email address</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Full name</mat-label>
              <input matInput formControlName="fullName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword">
            </mat-form-field>
          </div>
          <div id="controls" class="row">
            <button style="width: 20%" [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button color="primary">
              Register
            </button>
            <a routerLink="/login">Login</a>

          </div>

        </div>
      </div>
    </form>

  </div>

