<div class="container">
  <div class="doc-container">
    <h2 class="doc-title">ДОГОВІР ПУБЛІЧНОЇ ОФЕРТИ</h2><br>
    <h3 class="doc-subtitle">ПРО НАДАННЯ ІНФОРМАЦІЙНО-КОНСУЛЬТАЦІЙНИХ ПОСЛУГ
      З ПІДВИЩЕННЯ ПРОФЕСІЙНОЇ КВАЛІФІКАЦІЇ МАЙСТРІВ-ПЕРУКАРІВ</h3><br>
    <p class="doc-text"><b>1. Терміни та визначення <br><br>
      Публічна оферта</b> (далі – «Оферта», «Договір») – публічна пропозиція,
      адресована необмеженому колу фізичних осіб, укласти Договір на умовах, що
      містяться в цій Оферті.<br><br>
      <b>Акцепт</b> – повне, безумовне і беззастережне прийняття Майбутнім
      Покупцем/Покупцем умов в тому вигляді, в якому вони викладені в тексті цієї
      Оферти.<br><br>
      <b>Сайт</b> – сукупність електронної (цифрової) інформації – програмного коду та
      оригінального тексту, зображень, аудіо- та відеофайлів, іконок, посилань,
      графіки, дизайну, знаків та товарів і послуг та інших об’єктів права
      інтелектуальної власності, а також знаків охорони, пов’язаних між собою і
      структурованих в межах адреси сайтів на платформах доступ до яких
      здійснюється через мережу Інтернет, що знаходиться за
      адресою: <b>mmbeauty.com.ua</b><br><br>
      <b>Он-лайн Курс</b> – запис курсу з підвищення професійної кваліфікації майстрів-перукарів, розміщений на Сайті
      mmbeauty.com.ua<br><br>
      <b>Інформаційний Продукт</b> – доступ до перегляду он-лайн Курсу/Курсів з
      підвищення професійної кваліфікації майстрів-перукарів.<br><br>
      <b>Продавець – Фізична особа-підприємець ЗУБЧУК МИРОСЛАВА
        МИХАЙЛІВНА</b> (надалі іменується Комісіонер), зареєстрована в установленому
      чинним законодавством України порядку в Єдиному державному реєстрі
      юридичних осіб, фізичних осіб – підприємців та громадських формувань (номер
      запису 24150000000056414 від 15.02.2013р.), РНОКПП 2917012369, який
      здійснює продаж інформаційних Продуктів через Сторінку он-лайн курсів
      Сайту.<br><br>
      <b>Майбутній Покупець</b> – фізична особа, яка здійснила замовлення
      Інформаційного Продукту без оплати;<br><br>
      <b>Покупець</b> – фізична особа, яка здійснила Замовлення Інформаційного Продукту,
      сплатила його та надала про себе Продавцеві індивідуальну інформацію
      (прізвище, ім’я, по батькові адресу електронної пошти, номер телефону).<br><br>
      <b>Замовлення</b> – належним чином заповнена реєстраційна форма на Сайті.
      Заповнення реєстраційної форми здійснюється майбутнім Покупцем шляхом
      наведення індивідуальної інформації – прізвище, ім’я, по батькові, адреса
      електронної пошти, номер телефону, у відповідних розділах форми.<br><br>
      <b>Оплата Замовлення</b> – оплата Покупцем вартості Інформаційного Продукту,
      зазначеної на Сайті, через платіжну систему Сайту.
      Особистий кабінет слухача – сторінка на Сайті, через яку Покупцю надано
      доступ до перегляду он-лайн Курсу/Курсів.<br><br><br>
      <b>2. Правила</b><br><br>
      Інформація, розміщена на Сайті, може використовуватися тільки за умови
      дотримання всіх вимог цього Договору публічної оферти, тому просимо уважно
      прочитати Договір публічної оферти (далі – Договір), що визначає порядок
      замовлення, придбання та перегляду Курсу/Курсів. Кожна Сторона гарантує
      іншій Стороні, що володіє необхідною право- і дієздатністю, а також всіма
      правами і повноваженнями, необхідними і достатніми для продажу та придбання
      Інформаційного Продукту.<br><br>
      У випадку, якщо Ви не згодні з цим Договором, будь ласка, відмовтесь від
      оформлення Замовлення та використання Сайту.<br><br><br>
      <b>3. Предмет Договору</b><br><br>
      3.1. Продавець передає Покупцю, а Покупець приймає та оплачує Інформаційний
      Продукт, а саме доступ до перегляду он-лайн Курсу/Курсів з підвищення
      професійної кваліфікації майстрів-перукарів, що розміщені на Сайті.<br><br>
      3.2. Продавець залишає за собою право вносити зміни в цей Договір в
      односторонньому порядку, шляхом розміщення на Сайті Договору в новій
      редакції, в зв’язку з чим Покупець зобов’язується регулярно відслідковувати
      зміни в Договорі, що розміщений на Сайті.<br><br><br>
      <b>4. Оформлення Замовлення та акцепт оферти</b><br><br>
      4.1. Акцептом цієї Оферти є оформлення Покупцем Замовлення Інформаційного
      Продукту, шляхом заповнення реєстраційної форми на Сайті та оплати через
      платіжну систему Сайту.<br><br>
      4.2. Після оплати Замовлення Продавець насилає Покупцю на електронну
      скриньку, зазначену Покупцем у Замовленні, дані для доступу, а саме логін та
      пароль до особистого кабінету слухача на Сайті, через який Покупець отримує
      доступ до перегляду он-лайн Курсу/Курсів.<br><br><br>
      <b>5. Права Майбутнього Покупця/Покупця</b><br><br>
      5.1. Майбутній Покупець/Покупець має право на ознайомлення із інформацією
      про Курс/Курси, їх наповнення, вартість тощо перед здійсненням замовлення та
      оплати.<br><br>
      5.2. Переглядати он-лайн Курс/Курси протягом 3 (трьох) місяців з моменту
      здійснення оплати відповідного Інформаційного Продукту.<br><br>
      5.3. Відмовитись від інформаційного Продукту до моменту оплати
      інформаційного Продукту. Одностороння відмова Покупця від цього Договору
      після здійснення оплати інформаційного продукту не допускається.<br><br><br>
      <b>6. Зобов’язання Майбутнього Покупця/Покупця.</b><br><br>
      6.1. Надати повну, детальну і правильну інформацію у реєстраційній формі.
      Якщо Майбутній Покупець в реєстраційній формі надає неточні чи невірні дані,
      Продавець має право анулювати реєстрацію і видалити дані або обмежити
      можливості доступу Покупця до особистого кабінету слухача та перегляду
      Курсу/Курсів.<br><br>
      6.2. Оплатити замовлений інформаційний Продукт способом оплати, обраним у
      розділі Оплата, і перейти в особистий кабінет слухача на Сайті для перегляду
      замовленого Курсу/Курсів.<br><br>
      6.3. Забезпечити секретність даних доступу до особистого кабінету слухача на
      Сайті, не розголошувати та не передавати їх третім особам. Покупець несе
      відповідальність за будь-які дії третіх осіб, якщо вони здійснені з використанням
      даних для доступу до його особистого кабінету слухача на Сайті.<br><br>
      6.4. У разі зміни даних Майбутнього Покупця/Покупця, зазначених в
      реєстраційній формі, Майбутній Покупець/Покупець зобов’язаний їх оновити на
      Сайті.<br><br><br>
      <b>7. Права Продавця</b><br><br>
      7.1. Своєчасно та в повному обсязі отримати оплату за Інформаційний Продукт.<br><br>
      7.2. Вносити зміни до переліку Курсів, їх описів тощо розміщених на Сайті.<br><br>
      7.3. Якщо Покупець своїми діями намагається зашкодити стабільності та безпеці
      роботи Сайту або порушує свої зобов’язання за цим Договором, Продавець має
      право негайно і без попередження обмежити або зупинити доступ Покупця до
      особистого кабінету слухача на Сайті та до перегляду Курсу/Курсів, а також
      розірвати цей Договір.<br><br><br>
      <b>8. Зобов’язання Продавця</b><br><br>
      8.1. Довести до відома Майбутнього Покупця/Покупця необхідну і достовірну
      інформацію про Інформаційний Продукт, шляхом її розміщення на Сайті.<br><br>
      8.2. Надати Покупцю права доступу до особистого кабінету слухача на Сайті
      протягом 24 годин, після здійснення Покупцем оплати Інформаційного
      Продукту та перегляду он-лайн Курсу/Курсів, згідно замовлення Покупця.<br><br>
      8.3. Здійснювати технічну підтримку працездатності Сайту та забезпечити
      зворотній зв’язок із Покупцем засобами електронної
      пошти: <b>zubchukmm@gmail.com</b> та за тел: <b>+380983814649</b>.<br><br><br>
      <b>9. Вартість Інформаційного Продукту і порядок оплати</b><br><br>
      9.1. Вартість Інформаційного Продукту зазначається Продавцем на Сайті.<br><br>
      9.2. Покупець здійснює оплату Інформаційного Продукту у безготівковому
      порядку в українській національній валюті – гривні, через платіжну систему
      Сайту, у формі 100% передоплати.<br><br><br>
      <b>10.Обробка персональних даних та умови конфіденційності</b><br><br>
      10.1. Покупець дає згоду на використання і обробку своїх персональних даних
      (персональних даних своїх співробітників) в адміністративно-правових і
      комерційних цілях. Згода надається щодо персональних даних на здійснення
      будь-яких дій, допустимих відповідно до законодавства і які необхідні для
      виконання цього Договору, включаючи: збір, систематизацію, зберігання,
      уточнення (оновлення, зміну), використання, передачу (надання, доступ),
      включаючи транскордонну передачу, знеособлення, блокування, знищення; з
      використанням і без використання засобів автоматизації як способів обробки
      персональних даних. При цьому Покупець дає згоду на передачу своїх
      персональних даних третім особам в мінімально необхідних обсягах з метою
      виконання вимог законодавства та даних договірних зобов’язань з дотриманням
      вимог чинного законодавства.<br><br><br>
      <b>11.Відповідальність Сторін</b><br><br>
      11.1. За невиконання або неналежне виконання зобов’язань за цим договором
      сторони несуть відповідальність відповідно до чинного законодавства України.<br><br>
      11.2. Інформаційний Продукт і всі пов’язані матеріали надаються «як є», без
      будь-яких гарантій, явних чи неявних. Продавець не надає ніяких гарантій, в
      тому числі комерційної придатності, придатності для певних цілей і не
      порушення прав третіх осіб, а також гарантій, що випливають з ділових відносин
      або звичаїв ділового обороту. Крім того, Продавець відмовляється від
      відповідальності, пов’язаної з доступом Покупця до Інформаційного Продукту і
      пов’язаних матеріалів, а також з їх використанням. Покупець погоджується з
      тим, що здійснює доступ до Інформаційного Продукту і пов’язаних матеріалів і
      використовує їх на власний ризик.<br><br>
      11.3. У максимально дозволеній законодавством мірі Продавець не несе
      відповідальності за непрямі, побічні, фактичні, непрямі або прямі збитки, прямо
      або побічно упущену вигоду або неотримання доходів, втрату даних,
      експлуатаційних якостей або інших нематеріальних цінностей, пов’язані з
      придбанням Покупцем Інформаційного Продукту та використання отриманої
      інформації у своїй діяльності.<br><br>
      11.4. Покупець погоджується, що відмова від гарантій і обмеження
      відповідальності, викладені в даних умовах, відображають розумний і
      справедливий розподіл ризиків.<br><br>
      11.5. Всі матеріали розміщенні на Сайті, в тому числі але не виключно записи
      он-лайн Курсів, є об’єктом виняткових прав Продавця та правоволодільців. Не
      допускається без згоди Продавця та право володільців. використання даних
      матеріалів, т. ч. їх відтворення, поширення, публічний показ, імпорт оригіналу
      або примірників матеріалів з метою поширення, переклад або інша переробка,
      доведення до загального відома таким чином, що будь-яка особа може отримати
      доступ до матеріалів з будь-якого місця і в будь-який час. У разі неправомірного
      використання таких матеріалів Продавець та право володільці мають право
      вимагати припинення дій, що порушують виключні права автора, право
      володільця, Продавця на дані матеріали, а також відшкодування збитків,
      завданих таким використанням. У відповідності до цього Договору
      використання Покупцем матеріалів Сайту та он-лайн Курсу/Курсів допускається
      тільки в цілях перегляду та ознайомлення з ними. За порушення даного
      положення Покупець несе цивільну, адміністративну та кримінальну
      відповідальність передбачену чинним законодавством України.<br><br><br>
      <b>12.Форс-мажор</b><br><br>
      12.1. Сторони звільняються від відповідальності за повне або часткове
      невиконання зобов’язань, якщо це невиконання викликане обставинами, що не
      залежать від волі Сторін, а саме: військовими діями, стихійним лихом,
      техногенними та іншими аваріями, страйками, локаутами, актами органів влади
      або управління тощо, що унеможливлює виконання умов цього Договору (далі
      Форс-мажор) та які виникли після укладення цього Договору.<br><br>
      12.2. Форс-мажор застосовується, і Сторона, для якої він настав звільняється від
      відповідальності за порушення умов цього Договору, при наявності письмового
      підтвердження настання форс-мажорних обставин, виданим ТПП України.<br><br>
      12.3. Сторона, для якої наступили вказані обставини, зобов’язується негайно
      повідомити іншу Сторону та надати відповідні підтверджувальні документи.<br><br>
      12.4. З моменту отримання такого повідомлення іншою стороною виконання
      умов даного Договору припиняється на весь період дії Форс-мажору.<br><br>
      12.5. У разі дії Форс-мажорних обставин більше 3 (трьох) місяців, кожна Сторона
      має право ініціювати припинення Договору.<br><br><br>
      <b>3.Термін дії оферти</b><br><br>
      13.1 Ця Оферта набуває чинності з моменту її розміщення на Сайті і діє до
      моменту її відкликання Продавцем.<br><br>
      13.2 Продавець має право в будь-який час ввести зміни в умови Оферти та/або
      відкликати Оферту в будь-який момент на свій розсуд. У разі внесення
      Продавцем змін в Оферту, такі зміни вступають в силу з моменту розміщення
      зміненого тексту Оферти на Сайті, якщо інший термін вступу змін в силу не
      визначений безпосередньо в тексті зміненої Оферти.<br><br>
      13.3. Цей Договір може бути достроково розірваний:<br>
      13.3.1. У будь-який час за згодою Сторін;<br>
      13.3.2. З ініціативи Продавця в односторонньому порядку.<br>
      У разі розірвання Договору з ініціативи Продавця, крім випадків порушення
      Покупцем будь-якого із зобов’язань цього Договору, Продавець повертає
      Покупцю вартість передплаченого, але не переданого йому інформаційного
      Продукту протягом 7 (семи) робочих днів з моменту надсилання повідомлення
      про розірвання Договору Покупцю. Повідомлення надсилається Покупцю на
      електронну поштову скриньку зазначену останнім в реєстраційній формі.<br><br><br>
      <b>14.РЕКВІЗИТИ ПРОДАВЦЯ<br><br>
        Фізична особа-підприємець ЗУБЧУК МИРОСЛАВА МИХАЙЛІВНА
        РНОКПП 2917012369, 79034, ЛЬВІВСЬКА ОБЛ., МІСТО ЛЬВІВ, ВУЛИЦЯ
        ТЕРНОПІЛЬСЬКА, БУДИНОК 15Б, КВАРТИРА 57
        IBAN UA413052990000026000031005516 в АТ КБ "ПриватБанк"</b></p>

  </div>

</div>
