<mat-toolbar>
  <span routerLink="/main" style="cursor: pointer;margin-left: 20px;"><img class="header-logo" src="../../../assets/img/logo.png" /></span>




  <span class="spacer"></span>


  <button *ngIf="!isLoggedIn" matTooltip="Login"  (click)="openLoginDialog()" mat-icon-button class="example-icon favorite-icon"> <!--routerLink="/login"-->
     <mat-icon>login</mat-icon>
  </button>



  <span *ngIf="isDataLoaded">{{this.user.fullName}}         </span>
  <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button>

    <mat-icon>account_circle</mat-icon>
  </button>




  <mat-menu id="menu-item" #menu="matMenu" >
    <button *ngIf="isAdmin" mat-menu-item routerLink="/admin"><mat-icon class="icon_menu">settings_suggest</mat-icon>Керування</button>
    <button mat-menu-item (click)="openProfile()" ><mat-icon class="icon_menu">badge</mat-icon>Профіль</button>

    <button (click)="logout()" mat-menu-item>
      <mat-icon class="icon_menu">logout</mat-icon>Вихід
    </button>
  </mat-menu>

</mat-toolbar>


<!--<mat-icon>settings_suggest</mat-icon>-->
<!--<mat-icon class="icon_menu">account_circle</mat-icon>-->
<!--<mat-icon>badge</mat-icon>-->
