<div class="doc-container">
  <h2 class="doc-title">ПОЛІТИКА ЩОДО ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ</h2><br>
  <p class="doc-text">
    <b>1. Загальні положення.</b><br>
    Ця Політика розроблена у відповідності до
    вимог Закону України «Про захист персональних даних» та визначає порядок
    обробки персональних даних та заходи по забезпеченню безпеки персональних
    даних <b>Фізичною особою-підприємцем ЗУБЧУК МИРОСЛАВОЮ
    МИХАЙЛІВНОЮ</b>, що зареєстрований в установленому чинним
    законодавством України порядку в Єдиному державному реєстрі юридичних
    осіб, фізичних осіб – підприємців та громадських формувань (номер запису
    24150000000056414 від 15.02.2013р.) РНОКПП 2917012369, (надаліПродавець).<br><br>
    Відповідно до умов згоди на обробку персональних
    даних <b>Покупець</b>, підтверджує, що він ознайомлений і згоден з умовами
    Публічної оферти і відповідно до ст. 11 Закону України «Про захист
    персональних даних» добровільно надає <b>ФОП ЗУБЧУК М.М.</b> і його
    уповноваженим представникам та посадовим особам свою згоду на обробку,
    без будь-яких обмежень персональних даних <b>Покупця</b>, зазначених в
    реєстраційній формі та добровільно наданих <b>Покупцем</b> для реалізації мети
    обробки, в базі персональних даних <b>«Покупці»</b>. <br><br>
    <b>2. Продавець може обробляти такі персональні дані Покупця:</b><br>
    – прізвище ім’я по батькові;<br>
    – електронна адреса;<br>
    – номер телефону. <br><br>
    <b>3. Мета обробки персональних даних.</b><br>
    <b>Покупець</b> дає згоду на використання і обробку своїх персональних даних в
    адміністративно-правових і комерційних цілях. Згода надається щодо
    персональних даних на здійснення будь-яких дій, допустимих відповідно до
    законодавства і які необхідні для виконання <b>Договору публічної
    оферти</b>, включаючи: збір, систематизацію, зберігання, уточнення (оновлення,
    зміну), використання, передачу (надання, доступ), включаючи транскордонну
    передачу, знеособлення, блокування, знищення; з використанням і без
    використання засобів автоматизації як способів обробки персональних даних.
    При цьому <b>Покупець</b> дає згоду на передачу своїх персональних даних третім
    особам в мінімально
    необхідних обсягах з метою виконання вимог законодавства та даних
    договірних зобов’язань з дотриманням вимог чинного законодавства.<br><br>
    <b>4. Правові підстави обробки персональних даних</b> <br>
    <b>Продавець</b> обробляє персональні дані <b>Покупця</b> тільки в разі їх заповнення
    та/або відправки <b>Покупцем</b> самостійно через реєстраційні форми, розміщені на
    сайті . Заповнюючи відповідні реєстраційні форми та/або відправляючи свої
    персональні дані <b>Продавцю</b>, <b>Покупець</b> висловлює свою згоду з цією
    Політикою. <br><br>
    <b>5. Порядок збору, зберігання, передачі та інших видів обробки
      персональних даних.</b><br>
    Безпека персональних даних, які обробляються <b>Продавцем</b>, забезпечується
    шляхом реалізації правових, організаційних і технічних заходів, необхідних для
    виконання в повному обсязі вимог чинного законодавства у сфері захисту
    персональних даних. <br>
    <b>Продавець</b> забезпечує збереження персональних даних і вживає всіх можливих
    заходів, що виключають доступ до персональних даних неуповноважених осіб.
    Персональні дані <b>Покупця ніколи</b>, ні за яких умов не будуть передані третім
    особам, за винятком випадків, пов’язаних з виконанням <b>Договору публічної
    оферти</b> та чинного законодавства України. <br>
    У разі виявлення невідповідностей в персональних даних, <b>Покупець</b> може
    актуалізувати їх самостійно, шляхом надсилання відповідного повідомлення на
    адресу електронної пошти <b>Продавця zubchukmm@gmail.com</b> з позначкою
    «Актуалізація персональних даних». <br>
    Термін обробки персональних даних є необмеженим. <b>Покупець</b> може в будьякий момент відкликати свою згоду на обробку персональних даних, шляхом
    надсилання відповідного повідомлення на адресу електронної
    пошти <b>Продавця zubchukmm@gmail.com</b> з позначкою «Відкликання згоди на
    обробку персональних даних». <br><br>
    <b>6. Заключні положення</b><br>
    <b>Покупець</b> може отримати будь-які роз’яснення з потрібних питань, що
    стосуються обробки його персональних даних, шляхом надсилання
    відповідного повідомлення на адресу електронної пошти <b>Продавця
    zubchukmm@gmail.com</b> <br>
    В цьому документі будуть відображені будь-які зміни Політики обробки
    персональних даних <b>Продавцем</b>. Політика діє безстроково до заміни її новою
    редакцією.
  </p>
<br />
</div>
