<footer>




  <div class="footer-container">
    <div class="info_block">
      <div class="icon-block">

      <a href="https://www.instagram.com/myroslava_zubchuk/" target="_blank"><mat-icon svgIcon="instagram"></mat-icon></a>
        <a href="https://t.me/MyroslavaZubchuk" target="_blank"><mat-icon svgIcon="telegram"></mat-icon></a>
        <a href="mailto:zubchukmm@gmail.com" target="_blank"><mat-icon svgIcon="gmail"></mat-icon></a>

        <a href="tel:0983814649" target="_blank"><mat-icon svgIcon="phone"></mat-icon></a>
        <br/>
        <mat-icon svgIcon="visa" class="paySys"></mat-icon> <mat-icon svgIcon="mastercard" class="paySys"></mat-icon>
        </div>
    </div>

    <div class="info_block">
      <ul>
        <li><a routerLink="/public" >Договір публічної оферти</a></li>
        <li><a routerLink="/confident">Політика конфіденційності</a></li>
        <li><a routerLink="/return">Умови повернення</a></li>
      </ul>
    </div>
    <div class="info_block" >
      <span class="arr">&#169; Всі права захищено, 2023</span>
    </div>
  </div>

</footer>

