<div class="doc-container">
  <h2 class="doc-title">ВАРТІСТЬ ПОСЛУГ, ПОРЯДОК ОПЛАТИ І
    ПОВЕРНЕННЯ КОШТІВ</h2><br>
  <p class="doc-text">Вартість Інформаційного Продукту зазначається Продавцем на
    Сайті <b>mmbeauty.com.ua.</b><br><br>
    Покупець здійснює оплату Інформаційного Продукту у безготівковому порядку,
    в українській національній валюті – гривні, через платіжну систему Сайту, у
    формі 100% передоплати.<br><br>
    Оплата вважається здійсненою Покупцем з моменту надходження грошових
    коштів на поточний рахунок Продавця.<br><br>
    Вартість Інформаційного Продукту не може змінюватися з моменту отримання
    оплати Продавцем.<br><br>
    У разі розірвання Договору з ініціативи Продавця, крім випадків порушення
    Покупцем будь-якого із зобов’язань Договору, Продавець повертає Покупцю
    вартість передплаченого, але не переданого йому Інформаційного Продукту.<br><br>
    Повідомлення про розірвання Договору надсилається Покупцю на електронну
    поштову скриньку зазначену останнім в реєстраційній формі. Покупець
    зобов’язаний у відповідь надати Продавцю свої банківські платіжні реквізити
    для здійснення повернення грошових коштів, а саме: ПІБ отримувача,
    найменування банку, номер карткового рахунку, IBAN.<br><br>
    Повернення грошових коштів здійснюється протягом 7 (семи) робочих днів з
    моменту надання Покупцем Продавцю своїх банківських реквізитів.<br><br>
    У випадку ненадання або надання банківських платіжних реквізитів не в
    повному обсязі, надання помилкових банківських платіжних реквізитів,
    Виконавець не несе відповідальності за неповернення/несвоєчасне повернення
    грошових коштів Замовнику.<br><br>
    Покупець може відмовитись від інформаційного Продукту до моменту оплати
    інформаційного Продукту.</p>
</div>
